{% include "header.html" %}
<!-- MAIN INFO (CHECK METRO $.POST !!!)-->
{% for i in Tree %}
    <div id="{{ i.id }}" class="FamilyID" data-role="draggable">
        <div>{{ i.fio }}</div>
        <div>{{ i.needUser }}</div>
    </div>
{% endfor %}
<script>
    function PlaceUser(pos_x, pos_y, id){
        var obj = document.getElementById(id)
        if ((pos_x != 0) & (pos_y != 0)){
            obj.style.left = pos_x + 'px'
            obj.style.top = pos_y + 'px'
        }
        console.log('Object with id['+id+'] has position at {'+pos_x+','+pos_y+'}')
    }

    {% for i in TreePos %}
        PlaceUser({{ i.pos_x }}, {{ i.pos_y }}, {{ i.id }})
    {% endfor %}


</script>
<style>
    .FamilyID{
        position: absolute;
        left: 0px;
        top: 0px;
    }
</style>